<!DOCTYPE html>
<html>
<head>
	<title>Student Directory</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>
	<div class="ui fixed inverted menu">
		<div class="ui container">
			<div class="header item">Students Directory</div>
			<a href="/" class="item">Home</a>
			<a href="/students/new" class="item">New Student</a>
		</div>
	</div>